@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    font-family: "Raleway";
    font-weight: 500;
}

body {
    font-family: "Raleway";
    background-color: #F5F5F5;
    color: #464646;
    font-size: 16px;
}

